<table>
  <tr>
    <h4>Order from the menu or create your own!</h4>
  </tr>
  <tr>
    <th>Order up!</th>
    <th>Devoured!</th>
  </tr>
  {{#each burgers}}
  {{#if devoured}}
  <tr>
    <td>---</td>
    <td>{{burger_name}}</td>
    <td><button type="button" class="btn order burger" data-id="{{id}}">Order again!</button></td>
        <td><button type="button" class="btn remove" data-id="{{id}}"><img src="/assets/img/trash.svg" alt="trash"></button></td>

  </tr>
  {{else}}
  <tr>
    <td>{{burger_name}}</td>
    <td>---</td>
    <td><button type="button" class="btn eat burger" data-id="{{id}}">Devour!</button></td>
    <td><button type="button" class="btn remove" data-id="{{id}}"><img src="/assets/img/trash.svg" alt="trash"></button></td>
  </tr>

  {{/if}}
  {{/each}}

</table>